@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');
body {
    font-family: 'Geologica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .card1 {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card1 img {
    width: 50%;
    max-height: 50%;
    object-fit: contain;
    margin-bottom: 20px;
  }

  .card1 p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
  }
  

  .card1 input:focus {
    outline: none;
    border-bottom-color: #2575fc;
  }

  .check-button{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  [card-stack] {
    will-change: transform;
    position: relative;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
  
  [name=card-set] {
    display: none;
  }
  [name=card-set]:checked + [card] {
    display: flex;
    opacity: 1;
    filter: blur(0);
    transform: translateY(0) scale(1);
    transition: transform 1s, opacity 1s, filter 0.25s;
    transition-delay: 0.3s;
    z-index: 0;
  }
  [name=card-set]:checked + [card] ~ [card] {
    z-index: -1;
    display: flex;
    opacity: 0.9;
    filter: blur(1px);
    transform: translateY(1.2rem) scale(0.95);
    transition: transform 1.5s, opacity 1.5s, filter 0.5s;
    transition-delay: 0.4s;
  }
  [name=card-set]:checked + [card] ~ [card] ~ [card] {
    z-index: -2;
    display: flex;
    opacity: 0.7;
    filter: blur(2px);
    transform: translateY(2.4rem) scale(0.9);
    transition: transform 2s, opacity 2s, filter 1.5s;
    transition-delay: 0.5s;
  }
  [name=card-set]:checked + [card] ~ [card] ~ [card] ~ [card] {
    z-index: -3;
    display: flex;
    opacity: 0.5;
    filter: blur(3px);
    transform: translateY(3.6rem) scale(0.85);
    transition: transform 2.5s, opacity 2.5s, filter 2s;
    transition-delay: 0.7s;
  }
  [name=card-set]:checked + [card] ~ [card] ~ [card] ~ [card] ~ [card] {
    z-index: -4;
    display: flex;
    opacity: 0;
    filter: blur(4px);
    transform: translateY(5rem) scale(0.8);
    transition: transform 3s, opacity 3s, filter 2.5s;
    transition-delay: 0.8s;
  }
  
  [card] {
    display: flex;
    will-change: filter opacity transform;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    opacity: 0;
    transform: translateY(0) translateX(calc(-100% - 1rem)) scale(1);
    transition: transform 0.5s, opacity 0.2s 0.3s, filter 0.1s;
    transition-timing-function: ease-in;
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    min-height: 50vh;
  }
  [card]::before {
    content: "";
    display: block;
    padding-bottom: 130%;
  }
  [card] .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    text-align: center;
  }
  [card] label {
    color: white;
    display: inline-block;
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: rgb(61, 155, 151);
    border-radius: 200px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  [card] label:hover {
    background-color: #96F1E7;
  }
  [card] label:active {
    background-color: #75BCB4;
  }

  [card] .content, img{
    max-width: 90%;
    height: auto;
    object-fit: contain;

  }

.micicon{
    max-width: 50px;
    border-radius: 100%;
    padding: 10px;
    margin: 20px;
    border: 3px solid #000;
    height: auto;
    object-fit: contain;

  }

  .micicon:hover{
    opacity: 0.5;
  }